*{
	font-size:12px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
body, div, input, label, button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
h2 {
    font-size:18px;
    color:#333;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	background:#FFFEE6;
	color:#8F5700;
	padding:12px;
}
.demo-tip{
	width:24px;
	height:16px;
	float:left;
}
.button {
  font-weight:normal;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button:hover {
  color: black;
}

.button-merah {
  font-weight:normal;
  background-color: #e62129; /* merah */
  border: none;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button-merah:hover {
  color: black;
}

.button-kuning {
  font-weight:normal;
  background-color: #ffc107; /* Green */
  border: none;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button-kuning:hover {
  color: white;
}


.button-biru {
  font-weight:normal;
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button-biru:hover {
  color: black;
}

.button-abu {
  font-weight:normal;
  background-color: #6c757d; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button-abu:hover {
  color: black;
}

.button-hitam {
  font-weight:normal;
  background-color: #343a40; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}


.button-orange {
  font-weight:normal;
  background-color: #ff471a; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button-hitam:hover {
  color: #6c757d;
}

.button-cerah {
  font-weight:normal;
  background-color: #f8f9fa; /* Green */
  border: 1px #6c757d solid;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 4px 2px;
}

.button-cerah:hover {
  border: 1px black solid;
  color: #6c757d;
}

.input {
    padding: 5px;
    display: block;
    border: 1px solid #ccc!important;
   
}

.textarea, .option, .select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
}

.checkbox,.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.checkbox-inline,.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-print:before {
    content: "\f02f"
}

.fa-kiri:before {
    content: "\f060"
}

.fa-kanan:before {
    content: "\f060"
}

.fa-hapus:before {
    content: "\f1f8"
}

.fa-cari:before {
    content: "\f002"
}

.fa-download:before {
    content: "\f019"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-save,.fa-simpan:before,.fa-floppy-o:before {
    content: "\f0c7"
}

.fa-excel:before {
    content: "\f1c3"
}

.fa-pdf:before {
    content: "\f1c1"
}

.fa-data, .fa-detail:before {
    content: "\f039"
}

.fa-clear:before {
    content: "\f057"
}

.fa-tambah:before {
    content: "\f0fe"
}

.loader1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

.loader2 {
  position: absolute;
  left: 45%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }